@page "/"
@rendermode InteractiveServer
@using System.ComponentModel.DataAnnotations

<PageTitle>M0K0's GA</PageTitle>
<h2>A genetic algorithm in C#'s Blazor</h2>

<div>
	<label for="goal">GOAL:</label>
	<input id="goal" @bind="goal"/>
	<button @onclick="evolve">evolve Population</button>
	<button @onclick="toogle_settings">show settings</button>
</div>

@if(show_settings)
{
	<div>

		_________SETTINGS___________ 
		<br>
		<label for="solution_space">solutionspace:</label>
		<input id="solution_space" @bind="solution_space"/>
		<br>
		<label for="population_size">populationsize:</label>
		<input id="population_size" @bind="population_size"/>
		<br>
		<label for="elitism">populationsize:</label>
		<input id="elitism" @bind="elitism"/>
		<br>
		<label for="generations">iterations</label>
		<input id="generations" @bind="generations"/>
		<br>
	</div>
}

<div>
	<p>
	POPULATION<br>Generation Nr.@counter
	@foreach(Genome g in individuals)
	{
		<li>@g.score =[@g.get_dna()]</li>
	}
	</p>
</div>
@code
{
	public int fitnes_function(Genome g)
	{
		int score = 0;
		var dna = g.genetic_material;
		for(int i = 0 ; i < dna.Count() ; i++)
		{
			if(dna[i] == goal[i])
			{
				score++;
			}
		}
		return score;
	}
}

@code
{
	List<Genome> individuals = new List<Genome>();
	string solution_space {get;set;} = String.Empty;
	string goal {get;set;} = String.Empty;
	int population_size {get; set;} = 0;
	int generations {get;set;} = 0;
	bool show_settings {get; set;}
	int elitism {get; set;}

	int counter  = 0;
	void evolve()
	{
		counter = 0;
		Population pop = new Population(solution_space,goal.Length,population_size);
		pop.init(population_size);

		for (int x=0;x<generations;x++)
		{
			counter++;
			//pop.mutate(0);
			pop.evaluate(fitnes_function);
			pop.sort_by_score();
			pop.roulette_wheel_selection(0);
		}
		
		pop.evaluate(fitnes_function);
		pop.sort_by_score();
		individuals = pop.all_genomes;	
	}

	void toogle_settings()
	{
		if(show_settings){show_settings = false;}
		else{show_settings = true;}
	}
}

