@page "/"
@rendermode InteractiveServer
@using System.ComponentModel.DataAnnotations

<PageTitle>M0K0's GA</PageTitle>
<h2>A genetic algorithm in C# and Blazor</h2>

<p>
_________SETTINGS___________ 
<div>
	<input id="goal" @bind="goal"/>
</div>
<div>
	<label for="solution_space">SOLUTION-SPACE:</label>
	<input id="solution_space" @bind="solution_space"/>
</div>
<div>
	<label for="population_size">POPULATION-SIZE:</label>
	<input id="population_size" @bind="population_size"/>
</div>
<div>
	<label for="dna_length">DNA-LENGTH:</label>
	<input id="dna_length" @bind="dna_length"/>
</div>
<div>
	<label for="generations">NUMBER OF GENERATIONS</label>
	<input id="generations" @bind="generations"/>
</div>
	<button @onclick="initialize">initialize Population</button>
	<button @onclick="evolve">evolve Population</button>
</p>
<p>
	POPULATION:
	Generation @counter
</p>

@foreach(string dna in genome_data)
{
	<li>@dna</li>
}

@code
{
	List<string> genome_data {get;set;} = new List<string>();
	string solution_space {get;set;} = String.Empty;
	string goal {get;set;} = String.Empty;
	Population pop = new Population("",0,0);
	int population_size {get; set;} = 0;
	int generations {get;set;} = 0;
	int dna_length {get;set;} = 0;
	int counter  = 0;

	void initialize()
	{
		pop = new Population(solution_space,dna_length,population_size);
		pop.init(population_size);
	}

	void evolve()
	{
	/*
		for (int x=0;x<generations;x++)
		{
			counter++;
			List<Genome> p = pop.all_genomes;
			Genome a = p[0];
			Genome b = p[1];
			pop.crossover(a,b);

		}
	*/
	foreach(Genome genome in pop.all_genomes)
	{
		genome.mutate(0);
	}

	genome_data.Clear();
	foreach(Genome individual in pop.all_genomes)
	{
		string dna = new string(individual.genetic_material.ToArray());
		genome_data.Add(dna);
	}
	}
}

