@page "/"
@rendermode InteractiveServer

<PageTitle>M0K0's GA</PageTitle>
<h2>Genetic Algorithm in C# and Blazor</h2>

<p>
_________SETTINGS___________ 
<div>
	<label for="goal">GOAL:</label>
	<input id="goal" @bind="goal"/>
</div>

<div>
	<label for="solution_space">SOLUTION-SPACE:</label>
	<input id="solution_space" @bind="solution_space"/>
</div>

<div>
	<label for="population_size">POPULATION-SIZE:</label>
	<input id="population_size" @bind="population_size"/>
</div>

<div>
	<label for="dna_length">DNA-LENGTH:</label>
	<input id="dna_length" @bind="dna_length"/>
</div>
</p>

<button @onclick="evolve">EVOLVE</button>




@code
{
	string goal {get;set;} = String.Empty;
	string solution_space {get;set;} = String.Empty;
	int dna_length {get;set;} = 0;
	int population_size {get; set;} = 0;

	void evolve()
	{
		Population pop = new Population(solution_space,dna_length,population_size);
		pop.init();
	}


}

