@page "/"
@rendermode InteractiveServer
@using System.ComponentModel.DataAnnotations

<PageTitle>M0K0's GA</PageTitle>
<h2>A genetic algorithm in C# and Blazor</h2>

<p>
_________SETTINGS___________ 
<div>
	<label for="goal">goal:</label>
	<input id="goal" @bind="goal"/>
</div>
<div>
	<label for="solution_space">solutionspace:</label>
	<input id="solution_space" @bind="solution_space"/>
</div>
<div>
	<label fot="population_size">populationsize:</label>
	<input id="population_size" @bind="population_size"/>
</div>
<div>
	<label for="generations">iterations</label>
	<input id="generations" @bind="generations"/>
</div>
	<button @onclick="evolve">evolve Population</button>
</p>
<p>
	<div>
	POPULATION:
	</div>
	<div>
	Generation @counter
	</div>
</p>


@foreach(Genome g in individuals)
{
<li>@g.score =[@g.get_dna()]</li>
}

@code
{
	public int fitnes_function(Genome g)
	{
		int score = 0;
		var dna = g.genetic_material;
		for(int i = 0 ; i < dna.Count() ; i++)
		{
			if(dna[i] == goal[i])
			{
				score++;
			}
		}
		return score;
	}
}

@code
{
	List<Genome> individuals = new List<Genome>();
	string solution_space {get;set;} = String.Empty;
	string goal {get;set;} = String.Empty;
	int population_size {get; set;} = 0;
	int generations {get;set;} = 0;
	int counter  = 0;


	void evolve()
	{
		counter = 0;
		Population pop = new Population(solution_space,goal.Length,population_size);
		pop.init(population_size);

		for (int x=0;x<generations;x++)
		{
			counter++;
			pop.mutate(20);
			pop.evaluate(fitnes_function);
			pop.sort_by_score();
			pop.roulette_wheel_selection();
		}
		
			pop.evaluate(fitnes_function);
			pop.sort_by_score();
			individuals = pop.all_genomes;	
	}
}

