@page "/"
@rendermode InteractiveServer

<PageTitle>M0K0's GA</PageTitle>
<h2>A genetic algorithm in C#'s Blazor</h2>

<NavLink href=/Knappsack>Knappsackproblem</NavLink>

<div>
	<label for="goal">GOAL:</label>
	<input id="goal" @bind="goal"/>
	@goal.Count()
	<button @onclick="init">initialize new population</button>
	<button @onclick="evolve">evolve population</button>
	<button @onclick="toogle_settings">@settings_text</button>
</div>

@if(show_settings)
{
	<div>

		_________SETTINGS___________ 
		<br>
		<label for="solution_space">solutionspace:</label>
		<input id="solution_space" @bind="solution_space"/>
		<br>
		<label for="population_size">populationsize:</label>
		<input id="population_size" @bind="population_size"/>
		<br>
		<label for="generations">iterations</label>
		<input id="generations" @bind="generations"/>
		<br>
		<label for="mu">mutationrate</label>
		<input id="mu" @bind="mutation_rate"/>
	</div>
}

<div>
	<p>
	POPULATION<br>Generation Nr.@counter
	@foreach(Genome g in individuals)
	{
		<li>@g.score =[@g.get_dna()]</li>
	}
	</p>
</div>
@code
{
	public int fitnes_function(Genome g)
	{
		int score = 0;
		var dna = g.genetic_material;
		for(int i = 0 ; i < dna.Count() ; i++)
		{
			if(dna[i] == goal[i])
			{
				score++;
			}
		}
		return score;
	}
}

@code
{
	List<Genome> individuals = new List<Genome>();
	string solution_space {get;set;} = String.Empty;
	string goal {get;set;} = String.Empty;
	int population_size {get; set;} = 0;
	int generations {get;set;} = 0;
	int mutation_rate {get;set;} = 0;
	bool show_settings {get; set;} = false;
	string settings_text = "show settings";
	Population pop = new Population("",0,0);

	int counter  = 0;
	void init()
	{
			counter = 0;
			pop = new Population(solution_space,goal.Length,population_size);
			pop.init(population_size);
			pop.evaluate(fitnes_function);
			pop.sort_by_score();
			individuals = pop.all_genomes;	
	
	}
	void evolve()
	{
		for(int x = 0; x < generations ; x++)
		{	
			pop.evaluate(fitnes_function);
			pop.sort_by_score();
			var p = pop.all_genomes;
			pop.roulette_wheel_selection(p);
			pop.mutate(mutation_rate);
			counter++;
			pop.evaluate(fitnes_function);
			pop.sort_by_score();
			individuals = pop.all_genomes;	
		}
	}
	void toogle_settings()
	{
		if(show_settings)
		{
			show_settings = false;
			settings_text = "show settings";
		}
		else
		{
			show_settings = true;
			settings_text = "hide settings";
		}
	}
}

