@page "/"
@rendermode InteractiveServer
@using System.ComponentModel.DataAnnotations

<PageTitle>M0K0's GA</PageTitle>
<h2>A genetic algorithm in C# and Blazor</h2>

<p>
_________SETTINGS___________ 
<div>
	<label for="goal">GOAL:</label>
	<input id="goal" @bind="goal"/>
</div>

<div>
	<label for="solution_space">SOLUTION-SPACE:</label>
	<input id="solution_space" @bind="solution_space"/>
</div>

<div>
	<label for="population_size">POPULATION-SIZE:</label>
	<input id="population_size" @bind="population_size"/>
</div>

<div>
	<label for="dna_length">DNA-LENGTH:</label>
	<input id="dna_length" @bind="dna_length"/>
</div>
	<button @onclick="evolve">EVOLVE POPULATION</button>
</p>


<p>POPULATION:</p>
@foreach(string dna in genome_data)
{
	<li>@dna</li>
}

@code
{
	string goal {get;set;} = String.Empty;
	string solution_space {get;set;} = String.Empty;
	int dna_length {get;set;} = 0;
	int population_size {get; set;} = 0;
	List<string> genome_data {get;set;} = new List<string>();

	void evolve()
	{
		Population pop = new Population(solution_space,dna_length,population_size);
		pop.init(population_size);


		genome_data.Clear();
		foreach(Genome individual in pop.all_genomes)
		{
			string dna = new string(individual.genetic_material.ToArray());
			genome_data.Add(dna);
		}
	}

}

