@page "/"
@rendermode InteractiveServer

<PageTitle>M0K0's GA</PageTitle>

<h1>Genetic Algorithm in C# and Blazor</h1>

<h3>Goal of the project:</h3>
<p> find nearly optimal sulutions via random mutation and species selection </p>

<h4>Features:</h4>
<p>
	-random crossover positions of genes
</p> 
<p>
	-roulette wheel selection of fittest individuals
</p> 

<input @bind="what_to_bruteforce"/>
<p>You chose: @what_to_bruteforce</p>

@code
{
	string what_to_bruteforce {get;set;}

}

