<h2>@name</h2>
<p>weight:@weight</p>
<p>vlaue:@value</p>



@code
{
	public string name {get;set;}
	public int weight {get;set;}
	public int value {get;set;}
	public bool picked {get;set;}

}

